<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admins | Yadmandul store</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/inicioSesion.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylesCuenta.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styleAdmins.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/ecae724dfb.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .aviso-exito,
      .aviso-fracaso {
        top: 10%;
      }
    </style>
  </head>
  <body>
    <div class="aviso-exito">
      <h1>Aviso</h1>
      <p>Modificación completada con éxito</p>
      <a id="close-aviso-exito">Cerrar</a>
    </div>
    <div class="aviso-fracaso">
      <h1>Aviso</h1>
      <p>Error para completar la modificación</p>
      <a id="close-aviso-fracaso">Cerrar</a>
    </div>
    <header>
      <div class="title-container">
        <a href="#"
          ><img
            src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
            alt="logo"
        /></a>
        <p>ADMIN {{user.name}} | Yadmandul store</p>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/logout">
              <i class="fa-solid fa-right-from-bracket"></i
              >&nbsp;&nbsp;&nbsp;Cerrar sesión
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <aside>
      <nav>
        <ul>
          <li>
            <a href="#" id="btn-profile"
              ><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Mi perfil</a
            >
          </li>
          <li>
            <a href="#" id="btn-employees" style="font-size: 1em"
              ><i class="fa-solid fa-user-tie"></i
              >&nbsp;&nbsp;&nbsp;Empleados</a
            >
          </li>
          <li>
            <a href="#" id="btn-clients"
              ><i class="fa-solid fa-users"></i>&nbsp;&nbsp;&nbsp;Clientes</a
            >
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <div class="user-data">
        <img
          src="{{url_for('static', filename=user.photo)}}"
          alt="{{user.name}}"
        /><br />
        <form
          action="/upload_img_admin"
          ,
          method="POST"
          ,
          id="form-modify_photo_admin"
        >
          <input type="file" accept="image/*" name="photo" />
          <input type="submit" value="Cambiar foto" , id="btn-change-photo" />
        </form>
        <h2>{{user.name}}</h2>
        <h3>{{user.correo}}</h3>
        <div class="user-modify-data">
          <form
            action="/modify_name_admin"
            ,
            method="POST"
            ,
            id="form-modify_name_admin"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Nombre
              </h4>
              <input type="text" placeholder="{{user.name}}" name="name" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_appat_admin"
            method="POST"
            id="form-modify_appat_admin"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Apellido
                paterno
              </h4>
              <input type="text" placeholder="{{user.ap_pat}}" name="appat" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_apmat_admin"
            ,
            method="POST"
            ,
            id="form-modify_apmat_admin"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Apellido
                materno
              </h4>
              <input type="text" placeholder="{{user.ap_mat}}" name="apmat" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_correo_admin"
            method="POST"
            ,
            id="form-modify_correo_admin"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Correo
                electrónico
              </h4>
              <input type="email" placeholder="{{user.correo}}" name="correo" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_password_admin"
            ,
            method="POST"
            ,
            id="form-modify_password_admin"
          >
            <div class="name-container">
              <h4><i class="fa-solid fa-key"></i>&nbsp;&nbsp;&nbsp;Password</h4>
              <input type="password" name="password" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
        </div>
      </div>
      <div class="employees-container">
        <h1>Empleados</h1>
        <input type="search" id="buscar_employees" placeholder="Buscar" />
        <input type="checkbox" id="mostrarActivos_employees" checked />Mostrar
        activos
        <input type="checkbox" id="mostrarInactivos_employees" checked />Mostrar
        inactivos
        <table>
          <tr>
            <th>Foto</th>
            <th>Nombre completo</th>
            <th>Fecha de nacimiento</th>
            <th>Correo electrónico</th>
            <th>Acción</th>
          </tr>
          {% for empleado in empleados %}
          <tr
            class="{{ 'activo' if empleado.5 else 'inactivo' }}"
            data-nombre-emp="{{ empleado.2 }}"
          >
            <td>
              <img
                src="{{url_for('static', filename=empleado.1)}}"
                alt="Foto del empleado"
                id="employee-photo"
              />
            </td>
            <td>{{empleado.2}}</td>
            <td>{{empleado.3}}</td>
            <td>{{empleado.4}}</td>
            <td>
              {% if empleado.5 %}
              <form
                action="{{ url_for('dar_de_baja_emp', id=empleado[0]) }}"
                method="POST"
              >
                <input type="submit" value="Dar de baja" />
              </form>
              {% else %}
              <form
                action="{{ url_for('dar_de_alta_emp', id=empleado[0]) }}"
                method="POST"
              >
                <input type="submit" value="Dar de alta" />
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="clients-container">
        <h1>Clientes</h1>
        <input type="search" id="buscar_cli" placeholder="Buscar" />
        <input type="checkbox" id="mostrarActivos_cli" checked />Mostrar activos
        <input type="checkbox" id="mostrarInactivos_cli" checked />Mostrar
        inactivos
        <table>
          <tr>
            <th>Foto</th>
            <th>Nombre completo</th>
            <th>Fecha de nacimiento</th>
            <th>Correo electrónico</th>
            <th>Acción</th>
          </tr>
          {% for cliente in clientes %}
          <tr
            class="{{ 'activo' if cliente.5 else 'inactivo' }}"
            data-nombre-cli="{{ cliente.2 }}"
          >
            <td>
              <img
                src="{{url_for('static', filename=cliente.1)}}"
                alt="Foto del cliente"
                id="client-photo"
              />
            </td>
            <td>{{cliente.2}}</td>
            <td>{{cliente.3}}</td>
            <td>{{cliente.4}}</td>
            <td>
              {% if cliente.5 %}
              <form
                action="{{ url_for('dar_de_baja_cli', id=cliente[0]) }}"
                method="POST"
              >
                <input type="submit" value="Dar de baja" />
              </form>
              {% else %}
              <form
                action="{{ url_for('dar_de_alta_cli', id=cliente[0]) }}"
                method="POST"
              >
                <input type="submit" value="Dar de alta" />
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
    <script src="{{url_for('static', filename='js/scriptFotoPerfil.js')}}"></script>
    <script>
      const $btnProfile = document.getElementById("btn-profile");
      const $btnEmployees = document.getElementById("btn-employees");
      const $btnClients = document.getElementById("btn-clients");
      const $employeesContainer = document.querySelector(
        ".employees-container"
      );
      const $userData = document.querySelector(".user-data");
      const $clientsContainer = document.querySelector(".clients-container");
      function profile() {
        $userData.style.display = "block";
        $employeesContainer.style.display = "none";
        $clientsContainer.style.display = "none";
        $btnProfile.classList.add("btn-aside-active");
        $btnEmployees.classList.remove("btn-aside-active");
        $btnClients.classList.remove("btn-aside-active");
      }
      window.onload = profile;
      $btnProfile.addEventListener("click", () => {
        $userData.style.display = "block";
        $employeesContainer.style.display = "none";
        $clientsContainer.style.display = "none";
        //$ordersContainer.style.display = "none";
        $btnProfile.classList.add("btn-aside-active");
        // $main.classList.remove("main-purchases");
        // $main.classList.add("main-user-data");
        $btnEmployees.classList.remove("btn-aside-active");
        $btnProfile.classList.add("btn-aside-active:hover");
        $btnEmployees.classList.remove("btn-aside-active:hover");
        $btnClients.classList.remove("btn-aside-active");
        $btnClients.classList.remove("btn-aside-active:hover");
        //$btnOrders.classList.remove("btn-aside-active");
      });
      $btnEmployees.addEventListener("click", () => {
        $userData.style.display = "none";
        $clientsContainer.style.display = "none";
        $employeesContainer.style.display = "block";
        //$ordersContainer.style.display = "none";
        $btnProfile.classList.remove("btn-aside-active");
        $btnEmployees.classList.add("btn-aside-active");
        $btnClients.classList.remove("btn-aside-active");
        // $main.classList.remove("main-user-data");
        // $main.classList.add("main-purchases");
        $btnProfile.classList.remove("btn-aside-active:hover");
        $btnEmployees.classList.add("btn-aside-active:hover");
        $btnClients.classList.remove("btn-aside-active:hover");
        //$btnOrders.classList.remove("btn-aside-active");
      });
      $btnClients.addEventListener("click", () => {
        $userData.style.display = "none";
        $employeesContainer.style.display = "none";
        $clientsContainer.style.display = "block";
        //$ordersContainer.style.display = "none";
        $btnProfile.classList.remove("btn-aside-active");
        $btnEmployees.classList.remove("btn-aside-active");
        $btnClients.classList.add("btn-aside-active");
        // $main.classList.remove("main-user-data");
        // $main.classList.add("main-purchases");
        $btnProfile.classList.remove("btn-aside-active:hover");
        $btnEmployees.classList.remove("btn-aside-active:hover");
        $btnClients.classList.add("btn-aside-active:hover");
        //$btnOrders.classList.remove("btn-aside-active");
      });
    </script>
    <script
      src="{{url_for('static', filename='js/main_modify_admin.js')}}"
      type="module"
    ></script>
    <script
      src="{{url_for('static', filename='js/main_filter_users.js')}}"
      type="module"
    ></script>
  </body>
</html>
