<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil | Yadmandul store</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/inicioSesion.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/stylesCuenta.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/ecae724dfb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="aviso-exito">
      <h1>Aviso</h1>
      <p>Modificación completada con éxito</p>
      <a id="close-aviso-exito">Cerrar</a>
    </div>
    <div class="aviso-fracaso">
      <h1>Aviso</h1>
      <p>Error para completar la modificación</p>
      <a id="close-aviso-fracaso">Cerrar</a>
    </div>
    <header>
      <div class="title-container">
        <a href="#"
          ><img
            src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
            alt="logo"
        /></a>
      </div>
      <p style="color: white; font-size: 2em">
        CLIENTE {{user.name}} | Yadmandul store
      </p>
      <nav>
        <ul>
          <li>
            <a href="/">
              <i class="fa-solid fa-right-from-bracket"></i
              >&nbsp;&nbsp;&nbsp;Inicio
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="fa-solid fa-right-from-bracket"></i
              >&nbsp;&nbsp;&nbsp;Cerrar sesión
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <aside>
      <nav>
        <ul>
          <li>
            <a href="#" id="btn-profile"
              ><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Mi perfil</a
            >
          </li>
          <li>
            <a href="#" id="btn-purchases"
              ><i class="fa-brands fa-shopify"></i>&nbsp;&nbsp;&nbsp;Compras</a
            >
          </li>
          <li>
            <a href="#" id="btn-orders"
              ><i class="fa-solid fa-clipboard-list"></i
              >&nbsp;&nbsp;&nbsp;Pedidos</a
            >
          </li>
          <!-- <li>
            <a href="#" id="btn-cart"
              ><i class="fa-solid fa-cart-shopping"></i
              >&nbsp;&nbsp;&nbsp;Carrito</a
            >
          </li> -->
        </ul>
      </nav>
    </aside>
    <main>
      <div class="user-data">
        <img
          src="{{url_for('static', filename=user.photo)}}"
          alt="{{user.name}}"
        /><br />
        <form
          action="/upload_img_client"
          ,
          method="POST"
          ,
          id="form-modify_photo_client"
        >
          <input type="file" accept="image/*" name="photo" />
          <input type="submit" value="Cambiar foto" id="btn-change-photo" />
        </form>
        <h2>{{user.name}}</h2>
        <h3>{{user.correo}}</h3>
        <div class="user-modify-data">
          <form
            action="/modify_name_cli"
            method="POST"
            id="form-modify_name_cli"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Nombre
              </h4>
              <input type="text" placeholder="{{user.name}}" name="name" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_appat_cli"
            method="POST"
            id="form-modify_appat_cli"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Apellido
                paterno
              </h4>
              <input type="text" placeholder="{{user.ap_pat}}" name="appat" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_apmat_cli"
            method="POST"
            id="form-modify_apmat_cli"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Apellido
                materno
              </h4>
              <input type="text" placeholder="{{user.ap_mat}}" name="apmat" />
              <button>Modificar</button>
            </div>
          </form>
          <form
            action="/modify_fechanac_cli"
            method="POST"
            id="form-modify_fechanac_cli"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-signature"></i>&nbsp;&nbsp;&nbsp;Fecha de
                nacimiento
              </h4>
              <p>Fecha registrada: {{user.fecha_nac}}</p>
              <input type="date" name="fechanac" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_correo_cli"
            method="POST"
            id="form-modify_correo_cli"
          >
            <div class="name-container">
              <h4>
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Correo
                electrónico
              </h4>
              <input type="email" placeholder="{{user.correo}}" name="correo" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
          <form
            action="/modify_password_cli"
            mehod="POST"
            id="form-modify_password_cli"
          >
            <div class="name-container">
              <h4><i class="fa-solid fa-key"></i>&nbsp;&nbsp;&nbsp;Password</h4>
              <input type="password" name="password" />
              <input type="submit" value="Modificar" />
            </div>
          </form>
        </div>
      </div>
      <div class="purchases-container" style="display: none">
        <div class="product-purchase">
          <h1>[DATE]</h1>
          <hr />

          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <hr />
          <h3 style="color: #fff">Total: [TOTAL]</h3>
        </div>
        <div class="product-purchase">
          <h1>[DATE]</h1>
          <hr />

          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <hr />
          <h3 style="color: #fff">Total: [TOTAL]</h3>
        </div>
        <div class="product-purchase">
          <h1>[DATE]</h1>
          <hr />

          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <hr />
          <h3 style="color: #fff">Total: [TOTAL]</h3>
        </div>
        <div class="product-purchase">
          <h1>[DATE]</h1>
          <hr />

          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <hr />
          <h3 style="color: #fff">Total: [TOTAL]</h3>
        </div>
      </div>
      <div class="orders-container" style="display: none">
        <div class="product-order">
          <h1>[DATE]</h1>
          <h1>Estatus: [STATUS]</h1>
          <hr />
          <div class="product-details">
            <img src="./assets/img/product.png" alt="Product" />
            <div class="product-details-text">
              <h3>Nombre del producto: [PRODUCT]</h3>
              <h3>Precio: [PRICE]</h3>
              <h3>Cantidad: [QUANTITY]</h3>
            </div>
            <a href="" id="btn-show-product">Ver producto</a>
          </div>
          <hr />
          <h3 style="color: #fff">Total: [TOTAL]</h3>
          <button>Cancelar</button>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="{{url_for('static', filename='js/scriptFotoPerfil.js')}}"></script>
    <script>
      const $btnProfile = document.getElementById("btn-profile");
      const $btnPurchases = document.getElementById("btn-purchases");
      const $btnOrders = document.getElementById("btn-orders");
      const $btnCart = document.getElementById("btn-cart");
      const $userData = document.querySelector(".user-data");
      const $purchasesContainer = document.querySelector(
        ".purchases-container"
      );
      const $ordersContainer = document.querySelector(".orders-container");
      const $main = document.querySelector("main");

      function profile() {
        $userData.style.display = "block";
        $purchasesContainer.style.display = "none";
        $btnProfile.classList.add("btn-aside-active");
        $main.classList.remove("main-purchases");
        $main.classList.add("main-user-data");
        $btnPurchases.classList.remove("btn-aside-active");
      }

      window.onload = profile;

      $btnProfile.addEventListener("click", () => {
        $userData.style.display = "block";
        $purchasesContainer.style.display = "none";
        $ordersContainer.style.display = "none";
        $btnProfile.classList.add("btn-aside-active");
        $main.classList.remove("main-purchases");
        $main.classList.add("main-user-data");
        $btnPurchases.classList.remove("btn-aside-active");
        $btnProfile.classList.add("btn-aside-active:hover");
        $btnPurchases.classList.remove("btn-aside-active:hover");
        $btnOrders.classList.remove("btn-aside-active");
      });

      $btnPurchases.addEventListener("click", () => {
        $userData.style.display = "none";
        $ordersContainer.style.display = "none";
        $purchasesContainer.style.display = "block";
        $btnProfile.classList.remove("btn-aside-active");
        $btnPurchases.classList.add("btn-aside-active");
        $main.classList.remove("main-user-data");
        $main.classList.add("main-purchases");
        $btnProfile.classList.remove("btn-aside-active:hover");
        $btnPurchases.classList.add("btn-aside-active:hover");
        $btnOrders.classList.remove("btn-aside-active");
      });

      $btnOrders.addEventListener("click", () => {
        $userData.style.display = "none";
        $purchasesContainer.style.display = "none";
        $btnProfile.classList.remove("btn-aside-active");
        $btnPurchases.classList.remove("btn-aside-active");
        $main.classList.remove("main-user-data");
        //$main.classList.remove("main-purchases");
        $main.classList.add("main-purchases");
        $btnProfile.classList.remove("btn-aside-active:hover");
        $btnPurchases.classList.remove("btn-aside-active:hover");
        $btnOrders.classList.add("btn-aside-active");
        $ordersContainer.style.display = "block";
      });
    </script>
    <script
      src="{{url_for('static', filename='js/main_modify_client.js')}}"
      type="module"
    ></script>
  </body>
</html>
