<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/inicioSesion.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/slider.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/ecae724dfb.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/products_carousel.css')}}"
    />
    <title>Yadmandul Store</title>
  </head>
  <body>
    <header>
      <div class="title-container">
        <a href="#"
          ><img
            src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
            alt="logo"
        /></a>
        <p>Yadmandul store</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li class="dropdown">
            <a href="#" class="user">
              <img
                src="{{url_for('static', filename=user.photo)}}"
                alt="User"
                id="img-user"
              />
              <p>&nbsp;&nbsp;&nbsp;{{user.name}}</p>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Mi perfil</a></li>
              <li><a href="#">Opción 2</a></li>
              <li><a href="#">Opción 3</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 id="title-main">Explora nuestros productos destacados</h1>
      <div class="swiper my-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <img src="./assets/img/logo_definitivo.png" alt="[PROD]" />
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <span>$$$$</span>
                <h3>PRODUCT</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                  impedit explicabo quo quasi, officiis eos neque, nesciunt
                  delectus dolorem maxime unde dolores? Aliquam, voluptatem
                  repellat necessitatibus deleniti quod ipsa. Totam.
                </p>
              </div>
              <div class="product-img">
                <img src="./assets/img/product.png" alt="[PROD]" />
              </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
          </div>
        </div>
      </div>
      <section id="bebidas">
        <div class="title-product-container">
          <h1>Bebidas</h1>
          <input
            type="search"
            name="card-filter"
            id="card-filter-bebidas"
            placeholder="Buscar"
          />
        </div>

        <div class="products">
          {% for bebida in bebidas %}
          <div class="product bebidas">
            <img src="{{bebida.2}}" alt="{{bebida.0}}" />
            <p>{{bebida.0}}</p>
            <h4>$ {{bebida.1}}</h4>
            <a href="#">Comprar</a>
          </div>
          {% endfor %}
        </div>
      </section>
      <section id="dulces">
        <div class="title-product-container">
          <h1>Dulces</h1>
          <input
            type="search"
            name="card-filter"
            id="card-filter-dulces"
            placeholder="Buscar"
          />
        </div>

        <div class="products">
          {% for dulce in dulces %}
          <div class="product dulces">
            <img src="{{dulce.2}}" alt="{{dulce.0}}" />
            <p>{{dulce.0}}</p>
            <h4>$ {{dulce.1}}</h4>
            <a href="#">Comprar</a>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      let swiper = new Swiper(".my-swiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        loop: true,
        coverflowEffect: {
          depth: 500,
          modifer: 1,
          slidesShadows: true,
          rotate: 0,
          stretch: 0,
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
      });
    </script>
    <script
      src="{{url_for('static', filename='js/main.js')}}"
      type="module"
    ></script>
    <script src="{{url_for('static', filename='js/scriptFooter.js')}}"></script>
  </body>
</html>
