<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio sesion clientes | Yadmandul store</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/inicioSesion.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
      type="image/png"
    />
    <script
      src="https://kit.fontawesome.com/ecae724dfb.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .title-container a {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="aviso-container">
      <h1>Aviso</h1>
      <p>Registro completado con éxito</p>
      <a id="close-aviso">Cerrar</a>
    </div>
    <header>
      <div class="title-container">
        <a href="#"
          ><img
            src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
            alt="logo"
        /></a>
        <p>Yadmandul store</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li class="dropdown">
            <a href="#" class="user">
              <img
                src="{{url_for('static', filename='assets/img/user.png')}}"
                alt="User"
                id="img-user"
              />&nbsp;&nbsp;&nbsp;[USER]
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Mi perfil</a></li>
              <li><a href="#">Opción 2</a></li>
              <li><a href="#">Opción 3</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <a href="#" class="button" id="back-button"
        ><i class="fa fa-arrow-circle-left" aria-hidden="true"></i
      ></a>
      <div class="form-box">
        <div class="form-value">
          <form action="">
            <div id="login-container">
              <h2>Inicio de sesión</h2>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required />
                <label for="">Correo electrónico</label>
              </div>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="password" required />
                <label for="">Contraseña</label>
              </div>
              <div class="forget">
                <label for=""
                  ><input type="checkbox" />Recordar
                  <a href="#">Olvidé la contraseña</a></label
                >
              </div>
              <button>Inicio</button>
              <!-- <div class="register">
                <p>
                  No tengo una cuenta
                  <a href="#" id="btn-register">Registrarse</a>
                </p>
              </div> -->
            </div>
          </form>
          <form action="/add_usr" method="POST">
            <div id="register-container">
              <h2>Registro</h2>
              <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="nombre" required />
                <label for="">Nombre</label>
              </div>
              <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="ap_pat" required />
                <label for="">Apellido Paterno</label>
              </div>
              <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="ap_mat" required />
                <label for="">Apellido Materno</label>
              </div>
              <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="date" name="fec_nac" required />
                <label for=""></label>
              </div>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="correo" required />
                <label for="">Correo</label>
              </div>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="password" name="password" required />
                <label for="">Contraseña</label>
              </div>
              <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="password" required />
                <label for="">Confirmar contraseña</label>
              </div>
              <input type="submit" value="Registrar" />
              <!-- <div class="register">
                <p>
                  Ya tengo una cuenta
                  <a href="#" id="btn-login">Iniciar sesión</a>
                </p>
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <div class="welcome-container">
        <div class="login-welcome-container">
          <a href="#" id="logo-welcome"
            ><img
              src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
              alt="logo"
          /></a>
          <h1>¡Bienvenido!</h1>
          <br />
          <h3>¡Inicia sesión para poder realizar tus compras!</h3>
          <br />
          <p>
            ¿No te haz registrado? <br /><a href="#" id="btn-register"
              >Registrarse</a
            >
          </p>
        </div>
        <div class="register-welcome-container">
          <a href="#" id="logo-welcome"
            ><img
              src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"
              alt="logo"
          /></a>
          <h1>¡Hola!</h1>
          <br />
          <h3>¡Registrate para poder empezar a realizar tus compras!</h3>
          <br />
          <p>
            ¿Ya tienes una cuenta? <br /><a href="#" id="btn-login"
              >Inicia sesión</a
            >
          </p>
        </div>
      </div>
    </section>
    <footer>
      <p>&copy;Abarrotes Yadmandul</p>
      <br />
      <ul>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </li>
      </ul>
      <a href="">Mapa del sitio</a>
      <a href="./politicas.html">Políticas</a>
      <a href="./contacto.html">Contacto</a>
    </footer>
    <script src="{{url_for('static', filename='js/scriptInicio.js')}}"></script>
    <script type="text/javascript">
      (function (d, t) {
        var v = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        v.onload = function () {
          window.voiceflow.chat.load({
            verify: { projectID: "65f68a50db58b04d7432cde3" },
            url: "https://general-runtime.voiceflow.com",
            versionID: "production",
          });
        };
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs";
        v.type = "text/javascript";
        s.parentNode.insertBefore(v, s);
      })(document, "script");
    </script>
  </body>
</html>
