
  <div class="back">
      <div class = "menu container">
        
          <a herf = "#" 
          class = "yadmandul">
          <img src="{{url_for('static', filename='assets/img/logo_definitivo.png')}}"  
          class="logo"><span>Yadmandul Store</span></a>
       
          <input type = "checkbox" id="menu"/>
          <label for = "menu">
              <i class="fa-solid fa-bars icono"></i>
          </label>
          <nav class="navbar">
              <ul>
                  <li><a href ="#">Inicio</a></li>
                  <li><a href ="#">Productos</a></li>
                  <li><a href ="#">Pedidos</a></li>
                  <li>
                    {%if user %}
                    <a href="/cuenta" class="user">
                    <img
                    src="{{url_for('static', filename=user.photo)}}"
                    alt="user.name"
                    id="img-user"
                  /><span class="user-name">&nbsp;&nbsp;&nbsp;{{user.name}}</span></a>
                  {% else %}
                  <a href="{{ url_for('inicio_sesion') }}" class="user">
                    <img
                      src="{{url_for('static', filename='./assets/img/user.png')}}"
                      alt="User"
                      id="img-user"
                    />
                    <p>&nbsp;&nbsp;&nbsp;Login</p>
                  </a>
                  {% endif %}
                </li>
              </ul>
          </nav>
      </div>
  </div>

